<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ resume.name }}'s Resume</title>
        <!-- Bootstrap CSS -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
        <!-- Roboto Font -->
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
        <!-- Font Awesome Icons -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
        <!-- Custom CSS -->
        <link rel="stylesheet" href="resume.css">
    </head>
    <body>
        <div class="container">
            <div class="row align-items-center">
                <!-- Title -->
                <div class="col-md-7">
                    <div class="profile-title text-center">
                        <h2>{{ resume.name }}</h2>
                        <h5>{{ resume.description }}</h5>
                    </div>
                </div>

                <!-- Personal Information -->
                <div class="col-md-5">
                    <div class="personal-info">
                        <!-- Insert personal information here -->
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- Side Panel -->
                <div class="col-md-4 side-panel">
                    <!-- Languages -->
                    <div class="languages">
                        <h3>Languages</h3>
{% for language in resume.languages %}
                        <div class="mb-3">
                            <p class="progress-label">{{ language.name }}</p>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: {{ language.level }}%;" aria-valuenow="{{ language.level }}"
                                    aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
    {% if language.note %}
                            <p class="note">{{ language.note }}</p>
    {% endif %}
                        </div>
{% endfor %}
                    </div>

                    <hr>

                    <!-- Skills -->
                    <div class="skills">
                        <h3>Skills</h3>
                        <!-- Insert skills here -->
{% for skill_category in resume.skill_categories %}
                        <div class="mb-3">
                            <p class="skill-label">{{ skill_category.name }}</p>
    {% for skill in skill_category.skills %}
                            <div class="skill-box">
                                <div class="skill-bar">
                                    <div class="skill-bar-inner" style="width: 100%;"></div>
                                    <div class="skill-bar-text">{{ skill }}</div>
                                </div>
                            </div>
    {% endfor %}
                        </div>
{% endfor %}
                    </div>

                    <hr>

                    <!-- Interests -->
                    <div class="interests">
                        <h3>Interests</h3>
                        <!-- Insert interests here -->
                        <ul>
{% for interest in resume.interests %}
                            <li><i class="fas fa-{{ interest.icon }}"></i> {{ interest.name }}</li>
{% endfor %}
                        </ul>
                    </div>
                </div>

                <!-- Main Content -->
                <div class="col-md-8 main-panel">
                    <hr>

                    <!-- Profile -->
                    <div class="profile">
                        <h3>Profile</h3>
                        <!-- Insert profile here -->
                    </div>

                    <hr>

                    <!-- Education -->
                    <div class="education">
                        <h3>Education</h3>
                        <!-- Insert schools here -->
                    </div>

                    <hr>

                    <div class="certificates">
                        <h3>Certificates</h3>
                        <!-- Insert certificates here -->
                    </div>

                    <hr>

                    <!-- Experience -->
                    <div class="experience">
                        <h3>Experience</h3>
                        <!-- Insert experiences here -->
                    </div>

                    <hr>

                    <!-- Projects -->
                    <div class="projects">
                        <h3>Projects</h3>
                        <!-- Insert projects here -->
                    </div>

                    <hr>
                </div>
            </div>
        </div>

        <script>
            document.addEventListener('DOMContentLoaded', function() {
                var skillBoxes = document.querySelectorAll('.skill-box');

                skillBoxes.forEach(function(skillBox) {
                    var skillText = skillBox.querySelector('.skill-bar-text');
                    var skillTextWidth = skillText.offsetWidth;

                    skillBox.style.width = skillTextWidth + 'px';
                });
            });
        </script>
    
        <!-- Bootstrap JS and Popper.js -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.8/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
</html>
